.file-item{
    display: flex;
    position: relative;
    align-content: center;
}
.file-item th {
    display: inline-flex;
    align-items: center;
    position: relative;
}
.file-icon, .folder-icon {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.file-icon {
    background-image: url("./img/document.png");
}
.folder-icon {
    background-image: url("./img/folder (1).png");
}
.folder-link {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.table-checkbox {
    width: 5%;
}
.table-file {
    width: 15%;
}
.table-size {
    width: 20%;
}
.table-date {
    width: 60%;
}
